<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="PRDownload.settings" />
        <add key="PYTHONPATH" value="S:\AdminPanel\Backend\AdminPanel" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="Django handler" />
            <add name="Django handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Admin\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
